[phases.setup]
nixPkgs = ["nodejs-18_x", "python311", "python311Packages.pip", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "cd frontend && npm install",
  "cd backend && python3 -m pip install --break-system-packages -r requirements.txt"
]

[variables]
PYTHONPATH = "/app/backend"

[phases.build]
cmds = [
  "bash build.sh"
]

[start]
cmd = "cd backend && python3 run.py"
