[phases.setup]
nixPkgs = ["nodejs-18_x", "python311", "python311Packages.pip", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "cd frontend && npm install",
  "cd backend && python3 -m venv venv && venv/bin/pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "bash build.sh"
]

[start]
cmd = "cd backend && venv/bin/python run.py"
