[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "cd backend && python3 -m venv venv && venv/bin/pip install -r requirements.txt"
]

[start]
cmd = "cd backend && venv/bin/python run.py"
